HanaTechHisPlot/Service References/HanaTechRTDBWebService/RTDBService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.0.45:8081/RTDBService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://172.16.0.45:8081/RTDBService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" />
  <xs:element name="GetTagList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strTagList" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" minOccurs="0" name="GetTagListResult" nillable="true" type="q2:ArrayOfTagValueList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strTagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" minOccurs="0" name="GetTagPropertyResult" nillable="true" type="q3:TagProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagPropertyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strTagName" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagPropertyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" minOccurs="0" name="GetTagPropertyListResult" nillable="true" type="q5:ArrayOfTagProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchDataByTagValueList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strTagName" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchDataByTagValueListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" minOccurs="0" name="FetchDataByTagValueListResult" nillable="true" type="q7:ArrayOfTagValueList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchDataByQueryParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" minOccurs="0" name="qp" nillable="true" type="q8:QueryParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchDataByQueryParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" minOccurs="0" name="FetchDataByQueryParamResult" nillable="true" type="q9:ArrayOfTagValueList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchDataByQueryParamList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" minOccurs="0" name="qpList" nillable="true" type="q10:ArrayOfQueryParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchDataByQueryParamListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" minOccurs="0" name="FetchDataByQueryParamListResult" nillable="true" type="q11:ArrayOfTagValueList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagProcessDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" minOccurs="0" name="qp" nillable="true" type="q12:QueryParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagProcessDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTagProcessDataListResult" nillable="true" type="q13:ArrayOfKeyValueOfstringArrayOfTagValueListlMq_PgcEl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagProcessDataListByMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HanaTech.WCFService.Model" minOccurs="0" name="qpList" nillable="true" type="q14:ArrayOfQueryParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagProcessDataListByMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTagProcessDataListByMapResult" nillable="true" type="q15:ArrayOfKeyValueOfstringArrayOfTagValueListlMq_PgcEl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>